/* You can add global styles to this file, and also import other style files */

// should work because of the stylePreprocessorOptions in angular.json
@import '_colors';

.green-color {
  color: $color;
}

.light-theme {
  background-color: white;
}

.dark-theme {
  background-color: rgb(75, 75, 75);
  color: white;
}
