class {
  onInput(input) {
    this.state = {
      count: input.count || 0
    };
  }
  increment() {
    this.emit("increment", ++this.state.count);
  }
}

<div.count>
  ${state.count}
</div>

<button.example-button on-click("increment")>
  Click me!
</button>
